.currentPage {
  background-color:rgba(0, 0, 0, 0.2);
  border-radius: 5%;
}

.navigation {
  border: none;
  padding: 1% 2%;
  text-align: center;
  text-decoration: none;
  font-size: 100%;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: none;
  border-radius: 5%;
}

.navigation:link {
  color:#4C7FF4;
}

.navigation:visited {
  color: #4C7FF4;
}

.navigation:hover {
  color:#8351EC;
  transition-duration: 0.4s;
  background-color: rgba(0, 0, 0, 0.3);
}